@use "sass:math";

.footer {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 3.5rem;
  background-color: $brand-color6;
  // background-image: url(/static/img/crab-arm.svg);
  // background-position: left bottom 160px;
  // background-repeat: no-repeat;
  // background-size: 80px 80px;

  p,
  a,
  small {
    color: var(--light-text);
  }

  a,
  svg,
  path,
  polygon,
  rect,
  g {
    transition: all 400ms ease;
  }

  .legal {
    display: block;
  }

  > * {
    position: relative;
    z-index: 3;
  }

  &:before {
    $bg-aspect-ratio: math.div(1208, 226);
    $bg-width: 100vw;
    $bg-height: math.div($bg-width, $bg-aspect-ratio);
    position: absolute;
    // Prevent any gaps below and to the sides of the image.
    top: calc(5px - $bg-height);
    left: -1px;
    width: 101%;
    z-index: 2;
    display: block;
    height: $bg-height;
    // Edinburgh Skyline silhouette purchased from BerriDesign on 28 Feb, 2023.
    mask-image: url(/static/img/city-silhouette.svg);
    -webkit-mask-image: url(/static/img/city-silhouette.svg);
    background-color: $brand-color5;
    content: "";
    // Allow clicking through in case of overlap with content.
    pointer-events: none;

    @media (forced-colors: active) {
      background-color: CanvasText;
    }

    @media print {
      display: none;
    }
  }
}

.footer-logo {
  display: block;
  margin: 0 auto 1.5em;
  text-align: center;

  img {
    width: 11rem;

    @media print {
      filter: brightness(0);
    }
  }
}

.footer-nav {
  margin: 0;
  padding: 0;

  font-size: rem-calc(24);
  font-weight: bold;
  list-style: none;

  a {
    display: block;
    padding: 0.25em 0.5em;
    color: var(--light-text);
  }

  @include breakpoint(medium) {
    text-align: center;

    li {
      display: inline-block;
      vertical-align: baseline;
    }
  }
}

.footer .social-icons {
  text-align: center;
}
