---
description: DjangoCon US is dedicated to providing a fun harassment-free conference
  experience for everyone, regardless of gender, gender identity, sexual orientation,
  disability, physical appearance, body size, race, or religion.
heading: Code of Conduct
layout: base
permalink: /conduct/
published: true
redirect_from:
- /about/coc/
- /about/conduct/
- /coc/
- /code-of-conduct/
title: Code of Conduct
---

<header class="subpage-header">
  <h1>{{ page.heading }}</h1>
</header>

<div class="content subpage-content">
  <section class="section-pad">
    <div class="row column">
        <h2 class="demp">
          We ask each attendant to keep the community in mind and do their best to foster a positive environment for everyone.
        </h2>
    </div>
  </section>

  <section class="section-pad theme-light-gray">
    <div class="row card-row">
        <div class="medium-6 column">
          <div>
            <p>Everybody who participates in DjangoCon Europe in one way or another is required to conform to this Code of Conduct (CoC). This includes attendees, speakers, sponsors, organizers, volunteers, and event staff.</p>
            <p>The CoC applies before and throughout the event (including related activities such as social events, and social media). We have also published our <a href="/conduct/response_guide/">response guidelines</a>.</p>
            <p>We would like to thank the DjangoCon Europe 2019 CoC team for the awesome CoC (which we adapted with some minor modifications) and the response guidelines (which we have adopted almost unedited from 2018).</p>
          </div>
        </div>
        <div class="medium-6 column">
          <div class="card card-theme-brand-color2 icon-right">
            <img
              src="{{ "/static/img/megaphone-line.svg" | relative_url }}"
              alt="A megaphone"
              class="card-icon"
              />
              <div class="card-section">
                  <h3 class="card-title" id="program">Need help?</h3>
                  <p>Reach out to the Code of Conduct team at <a href="mailto:{{site.conduct_email}}">{{site.conduct_email}}</a> or in person. Members are:</p>
                  <ul>
                    {% comment %}(add alphabetically){% endcomment %}
                    <li>Thibaud Colas</li>
                  </ul>
              </div>
          </div>
        </div>
    </div>
  </section>

  <section class="section-pad">
    <div class="row column">
      <h4 id="why-do-we-have-a-code-of-conduct">Why do we have a Code of Conduct?</h4>
      <p>Our goals with having this Code of Conduct are:</p>
      <ul>
      <li>Helping everyone feel safe and included. Attendees may have had poor experiences in other events, or may be first-timers. We want to set the expectation that harassment and other unpleasant behaviour are not acceptable. This way, people who do have an unpleasant experience know that it is neither the norm nor acceptable to us as a community.</li>
      <li>Helping to build trust that if an incident is reported, we will not respond with victim blaming, and that we will proceed with a thorough investigation. This will be true even if the incident involves someone in a position of power, for example.</li>
      <li>Informing everyone of the expected behaviour. We are a diverse community, and having a Code of Conduct makes the expectations over everybody's behaviour explicit and transparent.</li>
      <li>Having a framework for report handling (see the <a href="/conduct/response_guide/">response guidelines</a>). The Code of Conduct is the basis for dealing with a report, assessing whether the CoC was violated, and what action should be taken.</li>
      </ul>
      <hr>

      <h4 id="our-code-of-conduct">Our Code of Conduct</h4>
      <p>We ask each attendant to keep the community in mind and do their best to foster a positive environment for everyone.</p>
      <p>Behavior that contributes to a positive environment includes:</p>
      <ul>
      <li>Being kind and considerate to others</li>
      <li>Behaving professionally</li>
      <li>Using welcoming and inclusive language</li>
      <li>Being respectful of differing viewpoints and experiences</li>
      <li>Gracefully accepting constructive criticism</li>
      <li>Being supportive towards newcomers</li>
      </ul>
      <p>We are dedicated to providing a harassment-free conference experience for everyone, regardless of race, ethnicity, culture, national origin, colour, immigration status, social and economic class, educational level, sex, sexual orientation, gender identity and expression, age, size, family status, political belief, religion, and mental and physical ability.</p>
      <ul>
      <li>We do not tolerate harassment of conference participants in any form. This includes offensive comments related to the categories above, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, violent threats or language, inappropriate physical contact, and unwelcome sexual attention. Advocating for, or encouraging, any of the above behaviour is also not acceptable.</li>
      <li>Sexual language and imagery are not appropriate for any venue to which the CoC applies.</li>
      <li>Some people may not wish to be filmed or photographed - respect their wishes, take extra care when publishing pictures and provide a way to request them to be taken down.</li>
      <li>Be careful in the words that you choose. Remember that sexist, racist, and other exclusionary jokes can be offensive and unwelcoming to those around you. Excessive swearing and offensive jokes are not appropriate for DjangoCon Europe.</li>
      <li>Condescending behavior towards people of different knowledge levels, and especially beginners, is unacceptable.</li>
      <li>No one owes anyone any form of interaction or explanation for why they don't want contact. If someone asks you to leave them alone, accept and respect it without any further discussion, even if you think it is unwarranted.</li>
      </ul>
      <hr>

      <h4 id="where-does-the-code-of-conduct-apply">Where does the Code of Conduct apply?</h4>
      <p>This Code of Conduct applies to all conference related spaces. That includes, but is not limited to:</p>
      <ul>
      <li>The conference online platform</li>
      <li>Any conference related social activities in person and online</li>
      <li>Such as {% if site.slack_link != empty %}<a href="{{ site.slack_link }}" target="_blank">Slack</a> channels,{% endif %} tweets with the conference hashtag, and other online media</li>
      <li>The Code of Conduct does not exclusively apply to events on the conference agenda. For example, if after a scheduled social event, you go to a bar with a group of fellow participants and someone harasses you there, we would still treat that as a CoC violation.</li>
      </ul>
      <hr>

      <h4 id="what-can-happen-if-the-coc-is-violated">What can happen if the CoC is violated?</h4>
      <p>In case of a Code of Conduct violation, some of the most common actions organisers may take are:</p>
      <ul>
      <li>Demanding that a participant stops their behaviour.</li>
      <li>Demanding that a participant prevents further contact with certain other participants.</li>
      <li>Not publishing the video of a conference talk.</li>
      <li>Cancelling a conference talk.</li>
      <li>Removing a participant from the conference, without refund.</li>
      <li>The action taken is at the discretion of the Code of Conduct team. Participants are expected to comply immediately, and further action may be taken in case a participant does not comply. A record will be kept of all incidents.</li>
      </ul>
      <hr>

      <h4 id="where-to-report-incidents">Where to report incidents</h4>
      <p>If a Code of Conduct incident happens to you, or you witness it happening to someone else, please contact the CoC team immediately, {% if site.slack_link != empty %}either in <a href="{{ site.slack_link }}" target="_blank">Slack</a> or{% endif %} by sending an email to <a href="mailto:{{site.conduct_email}}">{{site.conduct_email}}</a>.</p>
      <p>Your report will be treated confidentially and will only be discussed within the CoC team.</p>
      <p>The team members will be introduced at the conference. You can message any of them at any time to discuss an incident or concern. You can also ask any other staff to help you find them.</p>
      <hr>

      <h4 id="guidelines-for-reporting-incidents">Guidelines for reporting incidents</h4>
      <p>Please do not feel like you may be a burden to us by reporting incidents. Even if you happen to report multiple incidents during the conference. We rather consider reports as an opportunity for us to act: by knowing about an incident, we can act on it, and often prevent it from going on or occuring again. But if we don't know, we can't take action.</p>
      <p>If you're not sure if an incident was already reported by someone else, even if many people saw it, please report it. It is frequent that several people witness an incident and no one reports it, because everyone thought other people would.</p>
      <p>If you are not sure whether the situation was a Code of Conduct violation, or whether it applied to that particular space, we encourage you to still report it. We would much rather have a few extra reports where we decide to take no action, rather than miss a report of an actual violation. We do not look negatively on you if we find the incident is not a violation. And knowing about incidents that are not violations, or happen outside our spaces, can also help us to improve the Code of Conduct or the processes surrounding it.</p>
      <p>If you think you witness something, but you're not sure what you saw, or you don't have proof, it's still very useful to us if you can report on that. You don't have to build up a case before reporting, and it's ok to report things even if you have doubts.</p>
      <p>In your report please include, when possible:</p>
      <ul>
      <li>Your contact info (so we can get in touch with you)</li>
      <li>Names (real, nicknames, or pseudonyms) of any individuals involved. If there were other witnesses besides you, please try to include them as well.</li>
      <li>When and where the incident occurred. Please be as specific as possible.</li>
      <li>Your account of what occurred. If there is a written record (e.g. tweets or slack messages), please include screenshots and, if possible, a link.</li>
      <li>Any extra context relevant for the incident.</li>
      <li>If this incident is ongoing.</li>
      <li>Any other information you would like to give us.</li>
      </ul>
      <p>If you don't have some of this information, or not at this time, please still make the report anyways. You can contact us at any time after your report if you want to add, edit or take back any information you shared.</p>
      <p>If you feel unsafe reporting in person, you may choose someone to represent you. In this case, we'd need their contact information, but we'd ask this person to make clear that they are not reporting in their own name.</p>
      <p>When handling a report, we follow our <a href="/conduct/response_guide/">response guidelines</a>.</p>
      <hr>

      <p>We value your attendance, and look forward to seeing you at DjangoCon Europe.</p>
    </div>
  </section>
</div><!-- end .content -->
