---
description: DjangoCon US 2022 Sprints Schedule
heading: Sprints Schedule
layout: default
permalink: /sprints/
sitemap: true
title: Sprints Schedule
---

{% assign visible_schedule = site.schedule | where: 'hidden', false %}

<!-- sprints: day 1 -->
<section class="section-pad schedule">
  <div class="row column">
    <h2 class="day">Sprints: Thursday, June 1st</h2>
    <p class="lead">
      We’re still refining our schedule, check back again soon!
    </p>
    <ul class="schedule">
      {% for post in visible_schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Thursday' %}
        {% include schedule-sprints-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- sprints: day 1 -->


<!-- sprints: day 2 -->
<section class="section-pad schedule">
  <div class="row column">
    <h2 class="day">Sprints: Friday, June 2nd</h2>
    <p class="lead">
      We’re still refining our schedule, check back again soon!
    </p>
    {% comment %}
    <p class="lead">
      Tutorials are a separate registration and are TBD per session. Buy tutorial tickets before they sell out!
    </p>
    {% endcomment %}
    <ul class="schedule">
      {% for post in visible_schedule %}
        {% capture day %}{{ post.date | date: "%A" }}{% endcapture %}
        {% if day == 'Friday' %}
          {% include schedule-sprints-day.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
<!-- sprints: day 2 -->
