.button {
  border: 4px solid $brand-color5;
  background-color: $brand-color5;

  font-weight: $global-weight-bold;
  text-decoration: none;
  color: var(--light-text);

  &:hover {
    background-color: color-mix(in srgb, black 15%, $brand-color5);
  }
}

.button.hollow:hover {
  border-color: $white;
  background-color: $white;
  color: $brand-color2;
}

.button--bright {
  border: 4px solid $brand-color4;
  background-color: $brand-color4;
  color: $brand-color5;

  &:hover {
    color: $brand-color5;
    background-color: color-mix(in srgb, white 15%, $brand-color4);
  }

  &::after {
    color: $brand-color4;
  }
}

.button--tickets {
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 2.5rem;
    aspect-ratio: 254.156 / 109.594;
    background-repeat: no-repeat;
    mask-image: url(/static/img/sponsors/pretix.svg);
    -webkit-mask-image: url(/static/img/sponsors/pretix.svg);
    background-color: currentColor;
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.2s ease-out;
    pointer-events: none;

    @media (forced-colors: active) {
      background-color: CanvasText;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    &:hover, &:focus {
      &::after {
        transform: translate(80%, -10%) rotate(-20deg);
        opacity: 1;
      }
    }
  }
}

