.bundle
.cache
.DS_Store
.jekyll-metadata
.jekyll-cache
.sass-cache
.vendor
_site
bower_components/
node_modules/
npm-debug.log
static/*.map
# Ignore "Gemfile.lock" for Docker Compose
Gemfile.lock
.vscode
speakers.json
talks.json
tweets.csv
