<footer class="footer" role="contentinfo">

  <a
    class="footer-logo"
    href="{{ site.url }}" aria-hidden="true">
    <img src="{{ "/static/img/submark-2022.svg" | relative_url }}"
    alt="DjangoCon {{ site.conf_year }} | Edinburgh" />
  </a>

  <div class="row column">
    <ul class="social-icons">
      <li>
        <a class="twitter" href="https://twitter.com/{{ site.twitter.username }}">
          <svg class="social-icon">
            <title>Twitter</title>
            <use href="#twitter-icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="mastodon" href="https://fosstodon.org/@djangoconeurope">
          <svg class="social-icon">
            <title>Mastodon</title>
            <use href="#mastodon-icon"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="github" href="https://github.com/djangocon/">
          <svg class="social-icon">
            <title>Github</title>
            <use href="#github-icon"></use>
          </svg>
        </a>
      </li>
      {% comment %}
      <li>
        <a class="facebook" href="https://www.facebook.com/djangoconus/">
          <svg class="social-icon">
            <title>Facebook</title>
            <use href="#facebook-icon"></use>
          </svg>
        </a>
      </li>
      {% endcomment %}
    </ul>

    <p class="text-center">
      <strong>
      Got questions? We can help:
        <a
          href="mailto:{{site.contact_us_email}}">{{site.contact_us_email}}</a>
      </strong>
    </p>

    <small class="legal text-center">
      DjangoCon Europe 2023 is operated by PyCon UK Society Limited, a company registered in England and Wales
      <a href="https://beta.companieshouse.gov.uk/company/10073469">no. 10073469</a>, on behalf of the UK 
      Python Association (a charity registered in England and Wales
      <a href="https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/5101629">no. 1173471</a>)
      {% comment %}
      &middot; Design by <a href="http://yupgup.com/">YupGup</a>
      &middot; Presented by <a href="https://www.defna.org/">DEFNA</a>
      &middot; <a href="/colophon/">Colophon</a>
      {% endcomment %}
    </small>
  </div>
</footer>
