<li class="is-dropdown-submenu-parent">
  <a href="/about/">About</a>
  <ul class="menu vertical nested">
    <li><a href="/about/">About DjangoCon EU</a></li>
    {% comment %}
    <li><a href="/tickets/">Tickets</a></li>
    {% endcomment %}
    {% comment %}
    <li><a href="/job-board/">Jobs Board</a></li>
    {% endcomment %}
    {% comment %}
    <li><a href="/faq/">FAQ</a></li>
    {% endcomment %}
    <li><a href="{% link _pages/conduct.html %}">Code of Conduct</a></li>
    {% comment %}
    <li><a href="/opportunity-grants/">Opportunity Grants</a></li>
    {% endcomment %}
    {% comment %}
    <li><a href="/visas/">Visa Support</a></li>
    {% endcomment %}
    {% comment %}
    <li><a href="/why-djangocon-us/">Why DjangoCon EU?</a></li>
    {% endcomment %}
    <li><a href="/organisers/">Organisers</a></li>
  </ul>
</li>
{% comment %}
<li class="is-dropdown-submenu-parent">
  <a href="/schedule/">Schedule</a>
  <ul class="menu vertical nested">
    <li><a href="/schedule/">Full Schedule</a></li>
    <li><a href="/tutorials/">Tutorials Schedule</a></li>
    <li><a href="/talks/">Talks Schedule</a></li>
    <li><a href="/sprints/">Sprints Schedule</a></li>
  </ul>
</li>
{% endcomment %}
<li class="is-dropdown-submenu-parent">
  <a href="/location/">Location</a>
  <ul class="menu vertical nested">
    <li><a href="/location/#welcome">Welcome to Edinburgh!</a></li>
    <li><a href="/location/#getting-here">Getting here</a></li>
    <li><a href="/location/#getting-around">Getting around</a></li>
    <li><a href="/location/#things-to-do">Things to do</a></li>
    <li><a href="/location/#eating-and-drinking">Where to eat and drink</a></li>
    {% comment %}
    <li><a href="/location/#accommodation">Accommodation</a></li>
    {% endcomment %}
  </ul>
</li>
<li class="is-dropdown-submenu-parent">
  <a href="/venues/">Venues</a>
  <ul class="menu vertical nested">
    <li><a href="/venues/#talks">Talks</a></li>
    <li><a href="/venues/#social">Social Event</a></li>
    <li><a href="/venues/#sprints">Sprints</a></li>
  </ul>
</li>
{% comment %}
<li class="is-dropdown-submenu-parent">
  <a href="/speaking/">Speaking</a>
  <ul class="menu vertical nested">
    <li><a href="/speaking/">Speaking at DjangoCon EU</a></li>
    <li><a href="/speaking/speaker-resources/">Speaker Resources</a></li>
  </ul>
</li>
{% endcomment %}
<li class="is-dropdown-submenu-parent">
  <a href="/sponsors/">Sponsors</a>
  <ul class="menu vertical nested">
    <li><a href="/sponsors/">Our Sponsors</a></li>
    <li><a href="{% link _pages/sponsors-information.md %}">Become a Sponsor</a></li>
  </ul>
</li>
{% comment %}
<li><a href="/news/">News</a></li>
{% endcomment %}
{% comment %}
<li>
  <a href="{{ site.ticket_link }}" class="button hollow">
    Buy Tickets
  </a>
</li>
{% endcomment %}