<li class="is-dropdown-submenu-parent">
  <a href="/about/">About</a>
  <ul class="menu vertical nested">
    <li><a href="/about/">About DjangoCon EU</a></li>
    {% comment %}
    <li><a href="/job-board/">Jobs Board</a></li>
    <li><a href="/faq/">FAQ</a></li>
    {% endcomment %}
    <li><a href="{% link _pages/conduct.html %}">Code of Conduct</a></li>
    <li><a href="/opportunity-grants/">Opportunity Grants</a></li>
    <li><a href="/visas/">Visa Information</a></li>
    <li><a href="/inclusion/">Inclusion, Diversity and Accessibility</a></li>
    {% comment %}
    <li><a href="/why-djangocon-eu/">Why DjangoCon EU?</a></li>
    {% endcomment %}
    <li><a href="/organisers/">Organisers</a></li>
    <li><a href="/volunteers/">Volunteers</a></li>
    <li><a href="/covid19-policy/">COVID-19 Policy</a></li>
    <li><a href="/t-shirts/">T-shirts</a></li>
    <li><a href="/sprints/">Sprints</a></li>
  </ul>
</li>
<li>
  <a href="/tickets/">Tickets</a>
</li>
<li><a href="/schedule/">Schedule</a></li>
<li class="is-dropdown-submenu-parent">
  <a href="/location/">Location</a>
  <ul class="menu vertical nested">
    <li><a href="/location/#welcome">Welcome to Edinburgh!</a></li>
    <li><a href="/location/#getting-here">Getting here</a></li>
    <li><a href="/location/#accommodation">Accommodation</a></li>
    <li><a href="/location/#getting-around">Getting around</a></li>
    <li><a href="/location/#things-to-do">Things to do</a></li>
    <li><a href="/location/#eating-and-drinking">Where to eat and drink</a></li>
  </ul>
</li>
<li class="is-dropdown-submenu-parent">
  <a href="/venues/">Venues</a>
  <ul class="menu vertical nested">
    <li><a href="/venues/#talks">Talks</a></li>
    <li><a href="/venues/#social">Social Event</a></li>
    <li><a href="/venues/#sprints">Sprints</a></li>
  </ul>
</li>

<li class="is-dropdown-submenu-parent">
  <a href="/speaking/">Speaking</a>
  <ul class="menu vertical nested">
    <li><a href="/call-for-proposals/">Call for Proposals</a></li>
    <li><a href="/speaking/">Speaking at DjangoCon Europe</a></li>
    <li><a href="/speaking/#selection-process">Selection Process</a></li>
  </ul>
</li>

<li class="is-dropdown-submenu-parent">
  <a href="/sponsors/">Sponsors</a>
  <ul class="menu vertical nested">
    <li><a href="/sponsors/">Our Sponsors</a></li>
    <li><a href="{% link _pages/sponsors-information.md %}">Become a Sponsor</a></li>
  </ul>
</li>
<li><a href="/news/">News</a></li>
<li><a href="/faq/">FAQ</a></li>
{% comment %}
<li>
  <a href="{{ site.ticket_link }}" class="button hollow">
    Buy Tickets
  </a>
</li>
{% endcomment %}
