<div class="row column xlarge-9">
  <div class="date-card medium-4 column">
    <a href="{% link _pages/talks.html %}">
      <div class="dates">
        <div class="month">May</div>
        <div class="days">29-31</div>
      </div>
      <div class="details">
        <h2 class="date-card-title">Talks</h2>
        <p>Three days of talks on all things Django and beyond</p>
      </div>
    </a>
  </div>
  <div class="date-card medium-4 column">
    <a href="{% link _pages/tutorials.html %}">
      <div class="dates">
        <div class="month">May</div>
        <div class="days">29-31</div>
      </div>
      <div class="details">
        <h2 class="date-card-title">Tutorials</h2>
        <p>In-depth workshops throughout the conference</p>
      </div>
    </a>
  </div>
  <div class="date-card medium-4 column">
    <a href="{% link _pages/sprints.html %}">
      <div class="dates">
        <div class="month">June</div>
        <div class="days">1-2</div>
      </div>
      <div class="details">
        <h2 class="date-card-title">Sprints</h2>
        <p>Team up to contribute to Django projects!</p>
      </div>
    </a>
  </div>
</div>
