.dietary {
  font-size: rem-calc(16);
  font-weight: $global-weight-semibold;
  color: $black;
  border-style: solid;
  border-color: darkgray;
  border-radius: 5rem;
  padding: $global-padding / 4;
}

.dietary-v {
  border: 2px solid $color-vegetarian;
  color: $color-vegetarian;
  padding-left: $global-padding / 2;
  padding-right: $global-padding / 2;
}

.dietary-gf {
  border: 2px solid $color-gf;
  color: $color-gf;
}

.dietary-vg {
  border: 2px solid $color-vegan;
  color: $color-vegan;
}

.dietary-ef {
  border: 2px solid $color-ef;
  color: $color-ef;
}

.dietary-df {
  border: 2px solid $color-df;
  color: $color-df;
}


.ingredients {
  font-size: rem-calc(14);
  font-style: $helptext-font-style;
  margin: 0 0 10px 0;
}

.menu-item-title {
  font-size: rem-calc(18);
  margin: 0 0 10px 0;
}

.course-main {
  color: $color-main;
  border-top: 5px solid $color-main;
  margin: 0 0 10px 0;
}

.course-salad {
  color: $color-salad;
  border-top: 5px solid $color-salad;
  margin: 0 0 10px 0;
}

.course-dessert {
  color: $color-dessert;
  border-top: 5px solid $color-dessert;
  margin: 0 0 10px 0;
}

.menu-header {
  padding-bottom: 0;
}