.post-item {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
  @include bottomless;
}

.post-meta {
  opacity: 0.8;
}

.post-title a {
  color: $secondary-color;

  &:hover {
    color: color-mix($secondary-color, black 20%);
  }
}

.post-item:last-child {
  border-bottom: none;
}
