.speaker-template {
  position: relative;
  padding: 20px 30px 0 500px;
  width: 1025px;
  height: 530px;

  background-color: $brand-color2;
  background-image: url(/static/img/speaker-template-bg.svg);
  background-repeat: no-repeat;


  text-align: right;
  color: $black;

  overflow: hidden;

  &-photo {
    position: absolute;
    top: -10px;
    left: -70px;
    border-radius: 0 50% 50% 0;
    width: 550px;
  }

  &-name {
    position: relative;
    margin-bottom: 0;
    font-size: 2.8rem;
  }

  &-name:after {
    position: relative;
    display: block;
    margin: 10px 0 10px auto;
    height: 10px;
    width: 120px;
    background: #290724;
    content: "";
  }

  &-session-title {
    font-family: $body-font-family;
    font-size: 2.2rem;
  }
}