<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% seo %}

{% if page.video_url != blank %}
{% assign youtube_id = page.video_url | replace:"https://youtu.be/",""%}
{% include youtube-embed-head.html id=youtube_id %}
{% endif %}

{% if page.schedule %}
<script type="text/javascript" src="https://pretalx.com/djangocon-europe-2023/schedule/widget/v2.en.js"></script>
{% endif %}

<link rel="stylesheet" href="/static/main.css">

    {% if page.sitemap == false %}
      <meta name="robots" content="noindex">
    {% endif %}

    <!-- favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#005eb8">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
  </head>
  <body class="{{ page.layout }}-page">
   {% include social-icons.html %}

    <div class="off-canvas-wrapper">
      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
            <ul class="vertical menu drilldown" data-drilldown>
              {% include nav.html %}
            </ul>
        </div>

        <div class="off-canvas-content" data-off-canvas-content>
          {% include titlebar.html %}

          <main>
            {{ content }}
          </main>

          {% include footer.html %}
        </div><!-- end .off-canvas-content -->
      </div><!-- end .off-canvas-wrapper-inner -->
    </div><!-- end .off-canvas-wrapper -->



    <!-- Loading JavaScripts
    ================================================== -->
    <script src="/static/main.js"></script>
  </body>
</html>
