---
layout: base
---

<header class="header">
  <div class="row">
    <div class="header-text">
      <h1>Five days of talks, sprints, and tutorials in Edinburgh</h1>

      <div class="event-info-detail">
        <strong
          class="event-info-date">29th May - 2nd June 2023</strong>

        <span
          class="subheading event-info-location">
          Assembly Rooms in
          <strong>Edinburgh, Scotland</strong>
        </span>
      </div>

      {% comment %}
      <a class="button" href="{{ site.ticket_link }}">Buy Tickets</a>
      <a class="button" href="{{ site.cfp_application }}">Submit Talk</a>
      {% endcomment %}

      {% comment %}
      <a class="button" href="https://emails.djangocon.us/sendy/subscription?f=Gs892S6cdJ676370nkSBxLOWzUsgYKPBcwkEMMvt0rr70f3IeA7634kuMTKJCLrdcgOQHQHdzwqLwvmcETbcm6KWtu9g">Join Mailing List</a>
      {% endcomment %}

      {% comment %}
      <a class="button" href="/schedule/">Conference Schedule</a>
      {% endcomment %}

    </div>
  </div>
</header>


<div class="home-content">

<section class="section-pad curve1 theme-brand-color3">
  <p class="lead column large-9 large-centered text-center">Join us for a source of inspiration, education and networking opportunities. Our team is making sure that participating in DjangoCon Europe is easy for you!</p>
  {% include schedule-date-cards.html %}
</section>

{% comment %}
<div class="photo-hero-inline tint-brand-color1">
  <img
    src="/static/img/attendees.jpg"
    alt="Attendees holding a sign for DjangoCon 2019"
     />
</div>
{% endcomment %}

<section class="section-pad">
  <div class="row column v-pad-bottom text-center">
    <h2>By the community for the community</h2>
  </div>
  <div class="row card-row">
    <div class="column">
      <div class="card">
      <p>This is the 15th edition of the Conference and it is organized by a team made up of Django practitioners from all levels. We welcome people from all over the world.</p>
      <p>Our conference seeks to educate and develop new skills, best practices and ideas for the benefit of attendees, developers, speakers and everyone in our global Django Community.</p>
      </div>
    </div>
    {% comment %}
    <div class="medium-4 column">
      <div class="card">
        <img
          src="{{ "/static/img/hands-line.svg" | relative_url }}"
          alt="Two hands interlocked"
          class="card-icon"
          />
        <div class="card-section">
          <h3 class="card-title">COVID-19</h3>
          <p>Read our <a href="/covid">COVID-19 Policy</a>, including mask and vaccine requirements.</p>
        </div>
      </div>
    </div>
    {% endcomment %}
    {% comment %}
    <div class="medium-4 column">
      <div class="card">
        <img
          src="{{ "/static/img/program-line.svg" | relative_url }}"
          alt="A document with several lines of unreadable text"
          class="card-icon"
          />
        <div class="card-section">
            <h3 class="card-title">Conference Schedule</h3>
            <p>Check out the <a href="/schedule/">conference schedule</a> and start planning your DjangoCon US experience!</p>
        </div>
      </div>
    </div>
    {% endcomment %}
    {% comment %}
    <div class="medium-4 column">
      <div class="card">
        <img
        src="{{ "/static/img/heart-line.svg" | relative_url }}"
        alt="A heart"
        class="card-icon"
        />
        <div class="card-section">
          <h3 class="card-title">Code of Conduct</h3>
          <p>Participants are expected to be respectful to each other. For details on our expectations, and who to contact if you need assistance, see our <strong><a href="{% link _pages/conduct.html %}">Code of Conduct</a></strong>.</p>
        </div>
      </div>
    </div>
    {% endcomment %}
  </div>
</section>

{% assign visible_posts = site.posts | where_exp: 'item', 'item != false' %}

{% if visible_posts.size > 0 %}
<section class="news-section section-pad theme-brand-color4 back">
  <div class="row column v-pad-bottom">
    <h2 class="text-center">Latest News</h2>
  </div>

  <div class="news row">
    {% for post in visible_posts limit:12 %}
      {% unless post.hidden %}
      <article class="news-title medium-4 column">
        <div class="card {% if post.category == "Sponsorship" %}card-theme-brand-color3{% else %}card-theme-brand-color2{% endif %}">
          <div class="card-section">
            <span class="post-meta">{{ post.date | date: "%d %b %Y" }}</span>
            <h3>
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
            </h3>
          </div>
        </div>
      </article>
      {% endunless %}
    {% endfor %}
  </div>

  {% if visible_posts.size > 6 %}
  <div class="row v-pad-top">
    <div class="medium-4 column medium-centered text-center">
      <a class="button" href="/news/">Read More News</a>
    </div>
  </div>
  {% endif %}
</section>
{% endif %}

{% comment %}
{% include sponsor-footer.html %}
{% endcomment %}

{% comment %}
<div class="photo-hero-inline curve-top tint-brand-color1">
  <img
    src="/static/img/courtyard-crowd.jpg"
    alt="The crowd of DjangoCon 2019 attendees"
    loading="lazy"
     />
</div>
{% endcomment %}

</div><!-- end .content -->
