<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content {{page.main_class}}" aria-label="Content">
      <img src="{{ '/assets/images/edinburgh-skyline-outline.svg' | relative_url }}" alt="" loading="lazy">
      <h1 class="lead-text">
        <img src="{{ '/assets/images/edinburgh-djangocon-headline.svg' | relative_url }}" alt="Edinburgh DjangoCon.eu">
        <br>
        29 May - 02 June 2023
      </h1>
    </main>

    {%- include footer.html -%}

  </body>

</html>

