---
layout: base
---

<header class="subpage-header">
  <h1>{% if page.heading %}{{ page.heading }}{% else %}{{ page.title }}{% endif %}</h1>
</header>

<div class="content subpage-content">
  <div class="row column">

    {{ content }}

  </div>
</div><!-- end .content -->

<script type="text/javascript" src="https://pretalx.com/djangocon-europe-2023/schedule/widget/v2.en.js"></script>

<pretalx-schedule event-url="https://pretalx.com/djangocon-europe-2023/" locale="en" format="grid" style="--pretalx-clr-primary: #0099CC"></pretalx-schedule>
<noscript>
   <div class="pretalx-widget">
        <div class="pretalx-widget-info-message">
            JavaScript is disabled in your browser. To access our schedule without JavaScript,
            please <a target="_blank" href="https://pretalx.com/djangocon-europe-2023/schedule/">click here</a>.
        </div>
    </div>
</noscript>
